<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}

    <article id="query" class="container">
        <div class="panel panel-primary col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2">
            <div class="panel-body">
                <form role="form" action="results" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="cancer_type">Select a cancer</label>
                        <select id="cancer_type" name="cancer_type">
                            <option value="ACC">ACC</option>
                            <option value="BLCA">BLCA</option>
                            <option value="BRCA">BRCA</option>
                            <option value="CESC">CESC</option>
                            <option value="COAD">COAD</option>
                            <option value="DLBC">DLBC</option>
                            <option value="ESCA">ESCA</option>
                            <option value="GBM">GBM</option>
                            <option value="HNSC">HNSC</option>
                            <option value="KICH">KICH</option>
                            <option value="KIRC">KIRC</option>
                            <option value="KIRP">KIRP</option>
                            <option value="LAML">LAML</option>
                            <option value="LGG">LGG</option>
                            <option value="LIHC">LIHC</option>
                            <option value="LUAD">LUAD</option>
                            <option value="LUSC">LUSC</option>
                            <option value="MESO">MESO</option>
                            <option value="OV">OV</option>
                            <option value="PAAD">PAAD</option>
                            <option value="PCPG">PCPG</option>
                            <option value="PRAD">PRAD</option>
                            <option value="READ">READ</option>
                            <option value="SARC">SARC</option>
                            <option value="SKCM">SKCM</option>
                            <option value="STAD">STAD</option>
                            <option value="TGCT">TGCT</option>
                            <option value="THYM">THYM</option>
                            <option value="UCEC">UCEC</option>
                            <option value="UCS">UCS</option>
                            <option value="UVM">UVM</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="file_upload">Upload Data</label>
                        <input id="file_upload" type="file" name="file_upload">
                    </div>

                    <div id="rna-select">
                        <div class="form-group">
                            <label for="cancer_mrna_match">Offical Gene Symbol</label>
                            <input id="cancer_mrna_match" type="text" name="cancer_mrna_match" placeholder="Not Required" />
                        </div>
                    </div>



                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </article>

    {% include "partials/_scripts.html" %}

</body>
</html>
