<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}

    <div id="csrf_token_div">
        {% csrf_token %}
    </div>
    

    <article id="results" class="container">
        <div class="row">
            <a href="/tcga" class="search-return"><i class="fa fa-angle-left"></i>Try anothor cancer type</a>   
        </div>
        <div class="row">
            <button type="button" class="btn btn-success td-download" data-type="{{ cancer_type }}" data-name="all" data-search="">Download All</button>
        </div>
        
        {% if filter %}
        <div class="tab-content">
            <div id="results-table" class="tab-pane active panel panel-primary">
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Group ID</th>
                                <th>mRNA list</th>
                                <th>Elastic Net Results</th>
                                <th>Heatmap</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for pair in data %}
                            <tr>
                                <td>{{ pair.0 }}</td>
                                <td class="td-download" data-type="{{ cancer_type }}" data-search="{{ pair.0 }}" data-name="mRNA"><span class="download-text">{{ pair.1 }}</span></td>
                                <td class="td-download" data-type="{{ cancer_type }}" data-search="{{ pair.0 }}" data-name="elastic"><span class="download-text">Download</span></td>
                                <td class="td-download" data-type="{{ cancer_type }}" data-search="{{ pair.0 }}" data-name="heatmap"><span class="download-text">Download</span></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}
    </article>

    {% include "partials/_scripts.html" %}

    <script type="text/javascript">
        $(".download-text").css("cursor", "pointer");

        // Bind ajax call to download link
        $(".td-download").on('click', function(){
            // Create a form
            var downloadForm = jQuery("<form>", {
                "action": "download",
                "method": "POST",
            });

            downloadForm.append(jQuery("<input>", {
                "name": "csrfmiddlewaretoken",
                "value": $("#csrf_token_div").children().val(),
                "type": "hidden"
            }));

            downloadForm.append(jQuery("<input>", {
                "name": "data_name",
                "value": $(this).attr("data-name"),
                "type": "hidden"
            }));

            downloadForm.append(jQuery("<input>", {
                "name": "data_type",
                "value": $(this).attr("data-type"),
                "type": "hidden"
            }));

            downloadForm.append(jQuery("<input>", {
                "name": "data_search",
                "value": $(this).attr("data-search"),
                "type": "hidden"
            }));

            // Submit the form
            downloadForm.submit();

            // Clean up
            downloadForm.remove();
        });
    </script>

</body>
</html>
