<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}

    <article class="container">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="form-group">
                    <p>Contact Author: Somali Chaterji</p>
                    <p>Email: schaterj#purdue.edu (replace # with @)</p>
                </div>
            </div>
        </div>
    </article>

</body>
</html>
