{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/_meta.html" %}
</head>
  <body id="landing-page">
    <article id="welcome" class="container">
      <div id="helix"></div>
      <div id="welcome-message">
        <h1>Avishkar Expression Engine</h1>
        <p><a href="/search">Search using the engine <span class="icon-right-arrow">➞</span></a></p>
        <p><a href="/tcga">Explore context-specific miRNA-mRNA interaction <span class="icon-right-arrow">➞</span></a></p>
        <p><a href="https://bitbucket.org/cellsandmachines/webserver" target="_blank">Read the documentation <span class="icon-right-arrow">➞</span></a></p>
      </div>
    </article>

    <script src="{% static 'js/helix/three.min.js' %}"></script>
    <script src="{% static 'js/helix/detector.js' %}"></script>
    <script src="{% static 'js/helix/helixAnimation.js' %}"></script>
  </body>
</html>
