<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}

    <article id="query" class="container">
        <!-- <div class="alert alert-info">
            <p>Before you continue, make sure you've read the <a href="#" class="alert-link">search guide</a>.</p>
        </div>
 -->
        <!-- <h2>Query an Expression Mapping</h2> -->

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}

        <div class="panel panel-primary col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="panel-body">
                <form role="form" action="/results" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="query_type">Select Input Type</label>
                        <select id="query_type" name="query_type">
                            <option value="mrna">Gene Name</option>
                            <option value="mirna">MicroRNA</option>
                            <!-- <option value="ig">Intergenic Region</option> -->
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="file_upload">Upload Data</label>
                        <input id="file_upload" type="file" name="file_upload">
                    </div>

                    <div id="rna-select">
                        <div class="form-group">
                            <label for="mrna_query">Select Gene</label>
                            <input id="mrna_query" type="text" name="mrna_query" placeholder="NM_001512" />
                        </div>

                        <div class="form-group">
                            <label for="mirna_query">Select MicroRNA</label>
                            <input id="mirna_query" type="text" name="mirna_query" placeholder="hsa-let-7i-5p" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="num_results"># of Results to Show</label>
                        <input id="num_results" type="number" name="num_results" value="20" min="10" max="150" step="10">
                    </div>

                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </article>

    <script>
        window.mRNA_names = {{ mRNA_names|safe }};
        window.miRNA_names = {{ miRNA_names|safe }};
    </script>

    {% include "partials/_scripts.html" %}

</body>
</html>
