<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}

    <div id="csrf_token_div">
        {% csrf_token %}
    </div>
    

    <article id="results" class="container">
        <a href="/search" class="search-return"><i class="fa fa-angle-left"></i>Try a different search</a>
        
        {% if query_type == "mrna" %}
            {% for search_term, data_list, num_of_data in mapping_results %}
                {% if num_of_data != 0 %}
                <div class="row">
                    <div class="col-xs-8">
                        <h3>{{ data_list.count }} Results for <span class="search-term">{{ search_term }}</span></h3>
                    </div>
                    <div class="col-xs-2 col-xs-offset-2">
                        <button type="button" class="btn btn-success btn-download" data-type="{{ query_type }}" data-search="{{ search_term }}" data-size="{{ data_list.count }}">Download</button>
                    </div>
                </div>
                
                <ul id="results-nav-{{ search_term }}" class="nav nav-tabs results-nav">
                    <li role="presentation" class="active"><a href="#results-table-{{ search_term }}" data-toggle="tab">Results Table</a></li>
                    <li role="presentation"><a href="#results-visual-{{ search_term }}" data-toggle="tab">Mapping Visualizer</a></li>
                </ul>

                <div class="tab-content">
                    <div id="results-table-{{ search_term }}" class="tab-pane active panel panel-primary">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>mRNA</th>
                                        <th>miRNA</th>
                                        <th>Target Location</th>
                                        <th>True Label</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for specimen in data_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ specimen.mRNA_name }}</td>
                                        <td>{{ specimen.miRNA_name }}</td>
                                        <td>{{ specimen.target_location }}</td>
                                        <td>{{ specimen.true_label }}</td>
                                        <td>{{ specimen.score }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="results-visual-{{ search_term }}" class="tab-pane panel panel-primary results-visual">
                        <div id="highlighted-gene">
                            <h2 id="gene-name-{{ search_term }}" class="gene-name">Hover or select a gene segment to see more details.</h3>
                        </div>
                        <canvas id="gene-map-{{ search_term }}" class="gene-map" data-type="{{ query_type }}" data-search="{{ search_term }}" data-size="{{ data_list.count }}"></canvas>
                    </div>
                </div>
                {% else %}
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ num_of_data }} Results for <span class="search-term">{{ search_term }}</span></h3>
                        <p>The query, {{ search_term }}, cannot be found in the database. The system will process the query offine. Please save the link: <span class="retrieve-link">{{ data_list.results_link }}</span> to check out the process results later.</p>
                        <br>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if query_type == "mirna" %}
            {% for search_term, data_list, num_of_data in mapping_results %}
                {% if num_of_data != 0 %}
                <div class="row">
                    <div class="col-xs-8">
                        <h3>{{ num_of_data }} Results for <span class="search-term">{{ search_term }}</span> Grouped by the targeted Gene Name</h3>
                    </div>
                    <div class="col-xs-2 col-xs-offset-2">
                        <button type="button" class="btn btn-success btn-download" data-type="{{ query_type }}" data-search="{{ search_term }}" data-size="{{ num_of_data }}">Download</button>
                    </div>
                </div>
                {% for mrna_name, mrna_mapping_list in data_list %}
                <h5>{{ mrna_mapping_list|length }} Results for {{ mrna_name }} / {{ search_term }} Group</h5>
                <ul id="results-nav-{{ search_term }}-{{ mrna_name }}" class="nav nav-tabs results-nav">
                    <li role="presentation" class="active"><a href="#results-table-{{ search_term }}-{{ mrna_name }}" data-toggle="tab">Results Table</a></li>
                    <li role="presentation"><a href="#results-visual-{{ search_term }}-{{ mrna_name }}" data-toggle="tab">Mapping Visualizer</a></li>
                </ul>

                <div class="tab-content">
                    <div id="results-table-{{ search_term }}-{{ mrna_name }}" class="tab-pane active panel panel-primary">
                        <div class="panel-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>mRNA</th>
                                        <th>miRNA</th>
                                        <th>Target Location</th>
                                        <th>True Label</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for specimen in mrna_mapping_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ specimen.mRNA_name }}</td>
                                        <td>{{ specimen.miRNA_name }}</td>
                                        <td>{{ specimen.target_location }}</td>
                                        <td>{{ specimen.true_label }}</td>
                                        <td>{{ specimen.score }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div id="results-visual-{{ search_term }}-{{ mrna_name }}" class="tab-pane panel panel-primary results-visual">
                        <div id="highlighted-gene">
                            <h2 id="gene-name-{{ search_term }}-{{ mrna_name }}" class="gene-name">Hover or select a gene segment to see more details.</h3>
                        </div>
                        <canvas id="gene-map-{{ search_term }}-{{ mrna_name }}" class="gene-map" data-type="{{ query_type }}" data-search-mRNA="{{ mrna_name }}" data_search-miRNA="{{ search_term }}" data-search="{{ search_term }}-{{ mrna_name }}" data-size="{{ mrna_mapping_list|length }}"></canvas>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <div class="col-xs-12">
                        <h3>{{ num_of_data }} Results for <span class="search-term">{{ search_term }}</span></h3>
                        <p>The query, {{ search_term }}, cannot be found in the database. The system will process the query offine. Please save the link: <span class="retrieve-link">{{ data_list.results_link }}</span> to check out the process results later.</p>
                        <br>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        
    </article>

    {% include "partials/_scripts.html" %}

</body>
</html>
