<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/_meta.html" %}
</head>
<body>
    {% include "partials/_header.html" %}
    
    <article class="container">
        {% if processed == False %}
        <h3>
            The query <span class="retrieve-link">{{ query.query }}</span> is still under processing. Please check it out later. Thank you.
        </h3>
        {% else %}
        <h3>
            The query <span class="retrieve-link">{{ query.query }}</span> has been processed. Search the query in the search page to see the visualization. 
        </h3>
        <br>

        <!-- <button type="button" class="btn btn-success btn-download" data-type="{{ query.query_type }}" data-search="{{ query.query }}" data-size="{{ data_list.count }}">Download</button>
 -->
        {% endif %}
    </article>
    
    {% include "partials/_scripts.html" %}

</body>
</html>
