.navbar {
	background-color: #8154D1;
	border-color: #8154D1; /* #6270B7 #48569E */
}

.navbar .navbar-brand {
	font-family: "Muli";
	font-weight: 700;
}

.navbar-inverse a.navbar-brand {
	color: white;
}
.navbar-inverse a.navbar-brand:hover,
.navbar-inverse a.navbar-brand:focus,
.navbar-inverse a.navbar-brand:active {
	color: white;
}

.navbar .navbar-nav li a {
	font-family: "Lato";
	font-size: 1rem;
	color: white;
}
.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active {
	color: white;
}
