@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700|Muli:300,400';
@import './header.css';

html {
	font-size: 100%;
}

body {
	padding-top: 70px;
}

h1, h2, h3, h4, h5, p, label {
	color: black;
}

h1 {
	font-family: "Muli";
}

p {
	font-family: "Lato";
	font-size: 1rem;
}

a {
	color: #8154D1;
	font-family: "Lato";
	font-size: 1rem;
	font-weight: 300;
	transition: color 0.25s ease-in-out;
}
a.active,
a:active,
a:hover,
a:focus {
	color: #9B6EEB;
	text-decoration: none;
}

a i {
	margin-right: 10px;
	transition: margin-right 0.25s ease-in-out;
}
a.active i,
a:active i,
a:hover i,
a:focus i {
	margin-right: 12px;
}

.alert.alert-info {
	background-color: transparent;
	border-color: #8154D1;
}

.alert.alert-info p {
	color: #8154D1;
}

.alert.alert-info a {
	color: #9B6EEB;
}

.alert.alert-warning {
	background-color: #9B6EEB;
	border-color: #B39DDB;
}

.alert.alert-warning p {
	color: white;
}

.alert.alert-warning a {
	color: white;
}

.btn.btn-success{
	margin-top: 15px;
}

.btn.btn-primary {
	background-color: #8154D1;
	color: white;
	border-color: #8154D1;
	font-family: "Lato";
}
.btn.btn-primary:active,
.btn.btn-primary.active,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	background-color: #9B6EEB;
	color: white;
	font-family: "Lato";
	box-shadow: none;
	border-radius: 0px;
	border-color: #B39DDB;
}

.panel {
	margin-top: 40px;
}

.panel-primary {
	border-color: #8154D1;
}

#landing-page {
	background-color: #8154D1;
}

#landing-page canvas {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: transparent;
	z-index: 100;
}

#welcome #welcome-message {
	text-align: right;
	z-index: 1000;
}

#welcome h1 {
	color: white;
	font-family: "Muli";
	font-size: 3rem;
	font-weight: 300;
	margin-top: 15%;
}

#welcome a {
	display: inline-block;
	color: white;
	font-family: "Lato";
	font-size: 1.5rem;
	font-weight: 300;
	border-bottom: 1px solid white;
	margin-top: 35px;
	padding-right: 15px;
}
#welcome a.active,
#welcome a:active,
#welcome a:hover,
#welcome a:focus {
	color: white;
}

#welcome a span {
	margin-left: 5px;
	transform: margin-left 0.25s ease-in-out;
}
#welcome a.active span,
#welcome a:active span,
#welcome a:hover span,
#welcome a:focus span {
	margin-left: 10
}

#query h1 {
	font-size: 3rem;
	margin-top: 10px;
}

#query .form-group {
	margin-top: 10px;
	margin-bottom: 10px;
}

#query form label {
	display: block;
	color: black;
	font-family: "Muli";
	font-size: 1.75rem;
	font-weight: normal;
}

#query form select {
	width: 20rem;
	min-height: 25px;
	background-color: #8154D1;
	color: white;
	font-family: "Lato";
	font-size: 1.175rem;
	font-weight: 300;
	border-color: #8154D1;
	padding: 3px;
}

#query form input[type="text"],
#query form input[type=number] {
	width: 20rem;
	min-height: 25px;
	color: black;
	font-family: "Lato";
	font-size: 1.175rem;
	font-weight: 300;
}

#query form input[type=checkbox] {
	font-size: 5rem;
}

#query form input[type=file] {
	font-size: 1rem;
}

#query form button {
	font-size: 1rem;
	border-radius: 0;
}

#results h3 {
	/*font-size: 3rem;*/
	margin-bottom: 15px;
}

#results h3 .search-term {
	color: #8154D1;
}

#results .search-return {
	font-size: 1rem;
}

#results #results-nav {
	margin-top: 35px;
}

#results .results-nav li a {
	font-family: "Lato";
	color: black;
}
#results .results-nav li.active a,
#results .results-nav li:active a,
#results .results-nav li:hover a,
#results .results-nav li:focus a {
	color: black;
}

#results .panel {
	margin-top: 15px;
}

#results table th {
	color: #8154D1;
	font-family: "Lato";
}

#results table td {
	color: black;
	font-family: "Lato";
}

/*#results #results-visual #gene-name {*/
#results .results-visual .gene-name {
	color: #8154D1;
	font-family: "Muli";
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

#results .results-visual .gene-range {
	color: black;
	font-family: "Lato";
	font-size: 1rem;
	font-weight: 300;
}

/*#results #results-visual #gene-map {*/
#results .results-visual .gene-map {
	display: block;
	width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}


.retrieve-link {
	color: #8154D1;
}