
body {
    padding-bottom: 30px;
    padding-top: 70px;
}
.theme-dropdown .dropdown-menu {
    display: block;
    margin-bottom: 20px;
    position: static;
}
.theme-showcase > p > .btn {
    margin: 5px 0;
}
.theme-showcase .navbar .container {
    width: auto;
}

.option {
	border: 1px solid black;
	/*background: grey;*/
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	/*color: white;*/

}